.dice-num {
    height: 100px;
    width: 100px;
    font-size: 5em;
    display: inline;
    line-height: 0;
}

#num1 {
    background: aquamarine;
}
#num2 {
    background: blue;
}
#num3 {
    background: yellow;
}
#num4 {
    background: orange;
}
#num5 {
    background: red;
}
#num6 {
    background: greenyellow;
}