.header {
    font-size: 5em;
    text-align: center;
    background-color: greenyellow;
}

.footer {
    position: absolute;
    margin-top: 300px;
    height: 35px;
    width: 100%;
    background-color: greenyellow;
    color: black;
    text-align: center;
}

.footer > .navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.footer > .navbar {min-height:32px !important}

