<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
</head>
<body>

<h2 th:text="${message}"></h2>
<form action="/roll-dice" method="post">
    <h2>Choose number: </h2>
    <button id="num1" class="dice-num" name="number" type="submit" value="1">1</button>
    <button id="num2" class="dice-num" name="number" type="submit" value="2">2</button>
    <button id="num3" class="dice-num" name="number" type="submit" value="3">3</button>
    <button id="num4" class="dice-num" name="number" type="submit" value="4">4</button>
    <button id="num5" class="dice-num" name="number" type="submit" value="5">5</button>
    <button id="num6" class="dice-num" name="number" type="submit" value="6">6</button>
</form>

</body>
</html>